<!-- only show when edit is not active -->
<div class="container-fluid" *ngIf="!editMode">
    <button type="submit" class="btn btn-primary m-2" (click)="deleteSelectedRows()"><i class="fa-solid fa-trash"></i></button>
    <button type="submit" class="btn btn-primary m-2" (click)="editCurrentRow()"><i class="fa-solid fa-pencil"></i> Geselecteerde</button>
    <!-- AG Grid version of the table -->
    <ag-grid-angular 
    class="ag-theme-quartz mt-2" 
    style="height:75vh;" 
    [rowData]="rowData" 
    [columnDefs]="colDefs"
        [pagination]="true" 
        [paginationAutoPageSize]="true" 
        rowSelection='multiple' 
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>
<!-- only show when edit is active -->
<div class="container-fluid" *ngIf="editMode">
    <div class="row">
        <div class="col-md-4 leftcontainer mt-2">
            <div id="header" class="text-center m-2">
                <h3>Leverancier aanpassen</h3>
            </div>

            <div class ="input-group m-2">
                <span class="input-group-text" id="inputGroup-sizing-default">
                    <label for="supplierName">Leverancier</label></span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="mySupplier" placeholder="Leverancier">
            </div>

            <button type="submit" class="btn btn-primary m-2" (click)="saveChanges()">Aanpassing bevestigen</button>
        </div>
        <div class="col-md-8">
            <ag-grid-angular class="ag-theme-quartz m-2" style="height:80vh;"
                [rowData]="rowData"
                [columnDefs]="colDefs"
                [pagination]="true"
                [paginationAutoPageSize]="true">
                </ag-grid-angular>
        </div>
    </div>
</div>