<!-- only show when edit is not active -->
<div class="container-fluid" *ngIf="!editMode">
    <button type="submit" class="btn btn-primary m-1" (click)="deleteSelectedRows()"><i class="fa-solid fa-trash"></i></button>
    <button type="submit" class="btn btn-primary m-1" (click)="editCurrentRow()"><i class="fa-solid fa-pencil"></i>Geselecteerde</button>
    <!-- AG Grid version of the table -->
    <ag-grid-angular
    class="ag-theme-quartz"
    style="height:80vh;"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    [pagination]="true"
    [paginationAutoPageSize]="true"
    rowSelection='multiple'
    (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</div>
<!-- only show when edit is active -->
<div class="container-fluid" *ngIf="editMode">
    <div class="row">
        <div class="col-md-5 leftcontainer mt-2">
            <div id="header" class="text-center m-2">
                <h3>Ingrediënten Aanpassen</h3>
            </div>

            <!-- Name of ingredient -->
            <input type="text" class="form-control mt-3" [(ngModel)]="ingredientName" placeholder="Naam ingrediënt">
            <button type="submit" class="btn btn-primary mt-2 w-100" (click)="saveChanges()">edit</button>
        </div>

        <!-- AG Grid table -->
        <div class="col-md-7">
            <ag-grid-angular class="ag-theme-quartz m-2" style="height:75vh;" [rowData]="rowDataEdit" [columnDefs]="colDefsEdit"
                rowSelection='multiple' (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>