.btn-secondary {
    --bs-btn-color: black;
    --bs-btn-bg: #efb8c9;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #B16F6E;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #B16F6E;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
    
}

.inputClass{
    background-color: #FEEBF1;
    padding: 40px;
    border-radius: 90px;
}

body{
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 3vh;
}