<div  class="container">
	<div  class="row">
		<div  class="col-md-12">
			<h1>Inloggen</h1>
            <div class="inputClass d-grid gap-2">
                <input  class="form-control username"  type="text"  [(ngModel)]="username"  placeholder="Gebruikersnaam">
                <input  class="form-control email"  type="email"  [(ngModel)]="email"  placeholder="E-mail">
                <input  class="form-control password"  type="password"  [(ngModel)]="password"  placeholder="Wachtwoord">
                <button  class="btn btn-secondary mt-2"  (click)="onSubmit()"  type="submit">Inloggen</button>
            </div>
        </div>
	</div>
</div>