<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt="logo" class="logo"></a>
      <!-- the logo is on the left side of the navbar, the ms auto moves the rest of the items to the right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><i class="m-1 fa-solid fa-house"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">
            <i class="m-1 fa-solid fa-user-plus"></i>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/stock"><i class="m-1 fa-solid fa-eye"></i>Stock overzicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/stockadd"><i class="m-1 fa-solid fa-plus"></i>Stock aanvullen</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>