<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="navbar-brand" href="#"><img src="../../assets/logo.png" alt="logo" class="logo"></a>
      <!-- the logo is on the left side of the navbar, the ms auto moves the rest of the items to the right -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item m-1">
          <a class="btn btn-secondary" href=""><i class="m-1 fas fa-house"></i>Home</a>
        </li>

        <div class="dropdown m-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-cubes"></i>
            Stock
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/stock">Overzicht</a></li>
            <li><a class="dropdown-item" href="/stockadd">Aanvullen</a></li>
            <li><a class="dropdown-item" href="/stockedit">Wijzigen</a></li>
          </ul>
        </div>

        <div class="dropdown m-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-egg"></i>
            Ingrediënten
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ingredient">Overzicht</a></li>
            <li><a class="dropdown-item" href="/ingredientadd">Aanvullen</a></li>
            <li><a class="dropdown-item" href="#">Wijzigen</a></li>
          </ul>
        </div>

        <div class="dropdown m-1">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="m-1 fas fa-user"></i>
            Account
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="/register">Registreren</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>