<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 leftcontainer mt-2">
            <!-- <button type="button" class="btn btn-primary" (click)="postTest()">Post test</button> -->
            <div id="header" class="text-center m-2">
                <h3>Stock aanvullen</h3>
            </div>
            <div class="form-group">
                <label for="stockName">Stockitem:</label>
                <select class="form-control" [(ngModel)]="myProduct">
                    @for (product of products; track product.id) {
                    <option value [value]="product.productname">{{ product.productname }}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="stockQuantity">Hoeveelheid:(g/ml/st)</label>
                <input type="text" class="form-control" [(ngModel)]="myQuantity" placeholder="Hoeveelheid">
            </div>

            <div class="form-group">
                <label for="stockDate">Vervaldatum:</label>
                <input type="date" class="form-control" [(ngModel)]="myDate" placeholder="Vervaldatum">
            </div>

            <div class="form-group">
                <label for="stockSupplier">Leverancier:</label>
                <select class="form-control" [(ngModel)]="mySupplier">
                    @for (supplier of suppliers; track supplier.id) {
                    <option value [value]="supplier.name">{{ supplier.name }}</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-primary" (click)="postItem()">Toevoegen</button>
        </div>
        <div class="col-md-7">
            <!-- AG Grid version of the table -->
            <ag-grid-angular class="ag-theme-quartz m-2" style="height:85vh;" [rowData]="rowData" [columnDefs]="colDefs"
                [pagination]="true" [paginationAutoPageSize]="true"></ag-grid-angular>
        </div>
    </div>
</div>