<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 leftcontainer mt-2">
            <!-- <button type="button" class="btn btn-primary" (click)="postTest()">Post test</button> -->
            <div id="header" class="text-center m-2">
                <h3>Stock aanvullen</h3>
            </div>
            <input type="text" class="form-control mt-3" [(ngModel)]="stockName" placeholder="Beschrijving">
            <input type="text" class="form-control mt-2" [(ngModel)]="stockQuantity" placeholder="Hoeveelheid">
            <input type="date" class="form-control mt-2" [(ngModel)]="stockDate" placeholder="Vervaldatum">
            <input type="text" class="form-control mt-2" [(ngModel)]="stockSupplier" placeholder="Leverancier">
            <button type="submit" class="btn btn-primary mt-2" (click)="postItem()">Toevoegen</button>
        </div>
        <div class="col-md-7">
            <!-- AG Grid version of the table -->
            <ag-grid-angular class="ag-theme-quartz m-2" style="height:85vh;" [rowData]="rowData" [columnDefs]="colDefs"
                [pagination]="true" [paginationAutoPageSize]="true"></ag-grid-angular>
        </div>
    </div>
</div>