<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 leftcontainer mt-2">
            <div id="header" class="text-center m-2">
                <h3>Ingrediënten toevoegen</h3>
            </div>

            <!-- Name of ingredient -->
            <input type="text" class="form-control mt-3" [(ngModel)]="ingredientName" placeholder="Naam ingrediënt">
            <button type="submit" class="btn btn-primary mt-2 w-100" (click)="postSelectedRows()">Toevoegen</button>
        </div>

        <!-- AG Grid table -->
        <div class="col-md-7">
            <ag-grid-angular class="ag-theme-quartz m-2" style="height:84vh;" [rowData]="rowData" [columnDefs]="colDefs"
                rowSelection='multiple' (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>