<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" [(ngModel)]="ingredientName"
        aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
        (click)="postSelectedRows()">Post</button>
</div>


<!-- AG Grid version of the table -->
<ag-grid-angular class="ag-theme-quartz mt-2" style="height:75vh;" [rowData]="rowData" [columnDefs]="colDefs"
    rowSelection='multiple' (gridReady)="onGridReady($event)">
</ag-grid-angular>